[user]
	name = Adel Qalieh
	email = aqalieh95@gmail.com
[credential]
	helper = cache
[cola]
	fontdiff = Droid Sans Mono,9,-1,5,50,0,0,0,0,0
[core]
	excludesfile = /home/adel/.gitignore
	editor = vim
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[github]
	user = adelq
