[Unit]
Description=Clean up old pacman caches monthly

[Timer]
OnCalendar=monthly
AccuracySec=1h
Persistent=true

[Install]
WantedBy=multi-user.target